<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label>
    Username:
    <input type="text" formControlName="username" />
  </label>
  <label>
    Email:
    <input type="text" formControlName="email" />
  </label>
  <label>
    Password:
    <input type="password" formControlName="password" />
  </label>
  <label>
    Address:
    <input type="text" formControlName="address" />
  </label>
  <div>
    <button type="submit" [disabled]="!userForm.valid">Sign up</button>
  </div>
</form>

<section *ngIf="submitted">
  <h2>User:</h2>
  <ul>
    <li *ngFor="let user of users">
      Name: {{ user.username }} Email: {{ user.email }} Password:
      {{ user.password }} Address: {{ user.address }}
    </li>
  </ul>
</section>
