<div>
  <label>
    Username:
    <input type="text" [formControl]="username" />
  </label>
  <label>
    Email:
    <input type="text" [formControl]="email" />
  </label>
  <label>
    Password:
    <input type="password" [formControl]="password" />
  </label>
  <label>
    Address:
    <input type="text" [formControl]="address" />
  </label>
</div>
<div>
  <button type="submit" (click)="Submit()">Sign up</button>
</div>

<section *ngIf="submitted">
  <h2>User:</h2>
  <p>Name: {{ username.value }}</p>
  <p>Email: {{ email.value }}</p>
  <p>Password: {{ password.value }}</p>
  <p>Address: {{ address.value }}</p>
</section>
